<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">Hello, {{userDetails.firstname}}</div>
                <div class="card-body">
                    <p>    Name  : {{userDetails.firstname}} {{userDetails.lastname}} </p>
                   <p> Email : {{userDetails.email}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger float-right" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
